html {
    font-size: 100%; /* 16px */
    font-family: "Sawarabi Gothic";
}

/* ------------------------------------- */
/* body */
/* ------------------------------------- */

body {
    color: #24292e;
}

    /* ------------------------------------- */
    /* body 要素タグ全体 */
    /* ------------------------------------- */

    a {
        text-decoration: none; /* 下線消す */
    }

    p {
        font-size: 1.3rem; /* 16px x 1.3倍 */
    }

    img {
        max-width: 100%; /* ウインドウサイズに合わせて画像縮小 */
    }

    li {
        list-style: none; /* 箇条書きの黒点を消せる */
        font-size: 1.2rem; /* 16px x 1.2倍(Pタグよりちょっと小さめ) */
    }

    /* ------------------------------------- */
    /* .class（ある要素のみに適用ではなく横断的に使用される） */
    /* ------------------------------------- */

    /* ---  セクション共通    --- */    
    .wrapper {
        /*  ---  １．自分達(.wrapperクラス)の属性情報 --- */
        max-width: 960px;
        font-size: 0.9rem;
        padding: 0 4%;  /* 余白 上下0px 左右4%ずつ */
        /*  ---  ２．親要素<?>と自分達(.wrapperクラス)の関係 --- */
        margin: 0 auto 130px auto; /* 左右中央 （上余白0px 右余白自動 下余白130px 左余白自動*/
    }

    /* ---  タイトル共通    --- */    
    .site-title {
        /*  ---  １．自分達(タイトルに指定したタグ)の属性情報 --- */
        line-height: 1px;   /* ?? */
        font-weight: 600;   /* 文字を太めにする */
        font-size: 2.4rem;   /* 文字を大き目にする */
    }
    .site-title a {
        /*  ---  ２．自分達(タイトル箇所の<a>タグ)の属性情報 --- */
        color: #24292e; /* リンク文字の色 */
    }

    /* ---  セクションタイトル共通    --- */    
    .sec-title {
        font-size: 1.5rem;
        text-align: center; /* 要素内でテキストをセンタリング */
        /*  ---  ２．親要素と自分の関係 --- */
        margin-bottom: 65px;
    
    }


        /* ------------------------------------- */
        /* #id（ある要素タグの配下で使用される） */
        /* ------------------------------------- */

        /* ---  ヘッダー    --- */
        #header {
            /*  ---  １．自分(header)の属性情報 --- */
            max-width: 960px;
            padding: 0 4%;  /* 左右に自要素の幅の4%分余白を持つ */
            height: 170px;
            /*  ---  ２．親要素(body)と自分(header)の関係 --- */
            margin: 0 auto; /* headerはページ全体の中央 */
            /*  ---  ３．自分(header)と子要素(<h1>と<nav>)の関係 --- */
            display: flex;  /* 要素の縦横並びを指定する */
            flex-direction: row;    /* 横並びにする(既定) */
            align-items: center;    /* それぞれの子要素が自分(<header>)に対して上下中央に揃う */
            justify-content: space-between;    /* 子要素全体が自分(<header>)内で等間隔に配置される */
                /* justify-content: center; */    /* 子要素全体が自分(<header>)に対して左右中央に揃う */
        }
        #header nav ul {
            /*  ---  自分(ul)の属性情報 --- */
            padding: 10px 0;  /* 上下に10px余白、左右余白無し */
            /*  ---  親要素(nav)と自分(ul)の関係 --- */
                /* 無し */
            /*  ---  自分(ul)と子要素(li)の関係 --- */
            display: flex;  /* 要素の縦横並びを指定する */
            flex-direction: row;    /* 横並びにする(既定) */
            align-items: center;    /* それぞれの子要素が自分(<header>)に対して上下中央に揃う */
        }
        #header nav ul li {
            /*  ---  自分(li)の属性情報 --- */
            font-size: 0.9rem;
            /*  ---  親要素(body)と自分(header)の関係 --- */
            margin-left: 30px;
            /*  ---  自分(ul)と子要素(li)の関係 --- */
                /* 無し */
        }
        #header nav ul li a {
            /*  ---  自分(a)の属性情報 --- */
            color: #24292e;
                /* transition: all 0.3s;   0.3sかけてゆっくりhoverする */
        }
        #header nav ul li a:hover {
            /*  ---  自分(a:hover)の属性情報 --- */
            opacity: 0.5;   /* 透明度50% */
        }
        #header nav ul li a img.icon {
            /*  ---  自分(twitterアイコン)の属性情報 --- */
            width: 30px;
        }

        /* ---      メイン    --- */
        #main {
            margin-bottom: 80px;
        }
        #main img {
            /*  ---  自分(#mainの<img>)の属性情報 --- */
            width: 100%;
            max-width: 1920px;
            height: 400px;
            object-fit: cover;  /* 画像の縦横比を維持（見切れてもOK） */
        }

        /* ---      about    --- */
        #about ul {
            margin-bottom: 30px;
        }
        #about ul li {
            margin-bottom: 3px;
        }
        #about ul li:first-child{   /* リストの先頭行に適用 */
            margin-bottom: 30px;
        }

        /* ---      works    --- */
        #works ul {
            /*  ---  １．自分の属性情報 --- */
            /*  ---  ２．親要素と自分の関係 --- */
            margin-bottom: 50px;
            /*  ---  ３．自分<header>と子要素(<h1>と<nav>)の関係 --- */
            display: flex;
            flex-direction: row;    /* 横に配置 */
            flex-wrap: wrap;    /* 横幅をはみ出た分の要素は折り返して次の行に配置 */
            justify-content: space-between; /* 等間隔に配置 */
        }
        #works ul li {
            /*  ---  １．自分の属性情報 --- */
            width: 31%;
            /*  ---  ２．親要素と自分の関係 --- */
            margin-bottom: 23px;
        }
        #works ul li img {
            /*  ---  １．自分の属性情報 --- */
            cursor: pointer;
            transition: all 0.3s;   /* 0.3sかけてゆっくりhoverする */
        }
        #works ul li img:hover {
            /*  ---  １．自分の属性情報 --- */
            transform: scale(1.2,1.2);  /* 縦横ともにx1.2表示 */
            opacity: 0.7;   /* 透明度50% */
        }

      

/* ------------------------------------- */
/* スマホ用 */
/* ------------------------------------- */

/* 最大600pxまで */
@media screen and (max-width: 600px) {
    .site-title {
        margin-top: 20px;
    }
        /* ---  ヘッダー    --- */
        #header {
            /*  ---  １．自分<header>の属性情報 --- */
            height: auto;   /* 高さ自動 */
            line-height: 40px;  /* 行の高さ40px ☆この指定がないとツイッターアイコンが下に寄る(理由??) */
            /*  ---  ２．親要素<body>と自分<header>の関係 --- */
            margin-top: 20px;   /* 上余白20px (header全体が上に寄って見切れていたため)*/
            /*  ---  ３．自分<header>と子要素(<h1>と<nav>)の関係 --- */
            display: flex;  /* 要素の縦横並びを指定する */
            flex-direction: column;    /* 縦並びにする */
        }
        #header nav ul li {
            /*  ---  １．自分<li>の属性情報 --- */
            font-size: 0.8rem;
            /*  ---  ２．親要素<ul>と自分<li>の関係 --- */
            margin-left: 20px;
        }
        #header nav ul li a img.icon {
            /*  ---  １．自分(twitterアイコン)の属性情報 --- */
            width: 20px;
            /*  ---  ２．親要素<li>と自分<img.icon>の関係 --- */
            margin-top: 15px;
        }

        /* ---      works    --- */
        #works ul {
            flex-direction: column; /* 縦並びに変更 */
        }
        #works ul li {
            width: 100%; /* 一列なので100%に戻す */
        }

}

